{% extends 'projects/main.html' %}
{%block content%}
<div class="auth">

    <div class="card">
<form method="POST" action="/edit-account/">
    <h3 style="text-align: center;">Edit Account Information</h3>
    {%csrf_token%}
    <div class="form__field">
    <label for="id_username">Username:</label>
    <input class="input input--text" type="text" name="username" value="lchungong" maxlength="150" required="" id="id_username">
    </div>
      <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    
    
  </p>

  
  <div class="form__field">
    <label for="id_first_name">First name:</label>
    <input class="input input--text" type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name">
    
    
  </div>

  
  <div class="form__field">
    <label for="id_last_name">Last name:</label>
    <input class="input input--text" type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name">
    
    
  </div>

  
  <div class="form__field">
    <label for="id_email">Email address:</label>
    <input class="input input--email" type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email">
   
        <!-- Input:First Name -->
    
  </div>

  
  <div class="form__field">
    <label for="id_phone_number">Phone Number:</label>
    <input class="input input--text" type="text" name="phone_number" value="{{user.phone_number}}" maxlength="20" id="id_phone_number">
    
    
      
    
  </div>
  <input class="btn btn--sub btn--lg" type="submit" value="Update Information" />
</form>
    </div>
</div>
{%endblock content%}