{% load static %}
<!-- Add a button for back to home -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
        <!-- Dev Search UI -->
        <link rel="stylesheet" href="{% static 'projects/app.css' %}" />
      </head>
<body class="" data-admin-utc-offset="0">
    <!-- Container -->        
  <div class="auth">
    <div class="card">
              <h1>Change Password</h1>
  
    <div method="post">{%csrf_token%}
    <div class="module aligned">
        
        <div class="form-row field-password1">
            
            <label for="id_new_password1" style="font-size: larger; color: black;">New password:</label>
            <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
            <input class="input input--password" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        </div>
        <div class="form-row field-password2">
            
            <label for="id_new_password2" style="font-size: larger; color: black;">Confirm password:</label>
            <input class="input input--password" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </div>
        <br>
        <input class="btn btn--sub btn--lg" type="submit" value="Change my password">
        <!--DOES THIS WORK?? IT SHOULD RETURN ME TO ANOTHER PAGE ADD A BACK TO HOME LINK-->
    </div>
</div>
    </fieldset>
    </form>
              <br class="clear">
    </body>