{% extends 'projects/main.html' %}
{%block content%}
<body class="" data-admin-utc-offset="0">

            <h1 style="text-align: center; margin-top: 10px;">Password Change</h1>
            <div class="auth" style="height: 100%;">
              <div class="card">
                <div class="auth__header text-center">
  <form method="post">{%csrf_token%}
  <p>Please enter your old password, and then enter your new password twice for verification purposes.</p>
  <div class="form__field">
      <label for="id_old_password" style="font-size:larger;">Old password:</label> <input class="input input--password" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
 </div>
  
 <div class="form__field">
      <label for="id_new_password1" style="font-size:larger;">New password:</label> 
      <input class="input input--password" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
      </div>
      <div class="help" id="id_new_password1_helptext">
        <ul>
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
      </div>
      <div class="form__field">
      <label for="id_new_password2" style="font-size:larger;">New password confirmation:</label> 
      <input class="input input--password" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    </div>
<br>
      <input class="btn btn--sub btn--lg" type="submit" value="Change Password" class="default">
  </form>
  </div>
  </div>
  </div>
  </body>
{%endblock content%}